.menu-button-links {
  margin: 0;
  font-size: 110%;
}

.menu-button-links button {
  margin: 0;
  padding: 5px;
  display: inline-block;
  position: relative;
  background-color: #034575;
  border: 2px solid white;
  font-size: 0.9em;
  color: white;
  border-radius: 5px;
}

.menu-button-links [role="menu"] {
  margin: 0;
  padding: 7px 4px;
  list-style: none;
  display: none;
  position: absolute;
  border: 2px solid #034575;
  border-radius: 5px;
  background-color: #eee;
}

.menu-button-links [role="menu"] a {
  margin: 0;
  padding: 4px;
  display: block;
  width: 24em;
  background-color: #eee;
  border: 2px solid #eee;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.menu-button-links [role="menu"] a:hover {
  background-color: #034575;
  color: white;
 }

.menu-button-links button svg.down {
  padding-left: 0.125em;
  fill: currentColor;
  stroke: currentColor;
}

.menu-button-links button[aria-expanded] svg.down {
  transform: rotate(180deg);
}

/* Focus and hover styling */

.menu-button-links button:focus,
.menu-button-links button:hover {
  background-color: white;
  border-color: #034575;
  color: #222222;
}

.menu-button-links [role="menu"] a:focus,
.menu-button-links [role="menu"] a:hover {
  background-color: white;
  border-color: #034575;
  color: #222222;
}
